@import '../../Common/Color.css';




.card-container{
    transition: all 0.3s;
    cursor: pointer;
}

.card-container:hover{
    transform: scale(1.1);
    transition: all 0.3s;
}

.card-body:active{
    text-decoration: none;
}